<div class="grid">
    <div class="col-12">
        <div class="card">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>

        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Tạo mới" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Xuất excel" icon="pi pi-file-excel" class="p-button-help"
                            (click)="exportExcel()" [disabled]="!products.length"></button>

                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-dropdown class="mr-2" [options]="categories" optionLabel="name" optionValue="id"
                        [(ngModel)]="categoryId" placeholder="Chọn danh mục">
                    </p-dropdown>


                    <input class="mr-2" type="text" pInputText placeholder="Tìm kiếm" [(ngModel)]="name"
                        (change)="search()" />

                    <button pButton pRipple icon="pi pi-search" class="p-button-info mr-2" (click)="search()"></button>
                    <button pButton pRipple icon="pi pi-filter-slash" class="p-button-danger"
                        (click)="clearFilter()"></button>

                </ng-template>

            </p-toolbar>

            <p-table [value]="products" responsiveLayout="scroll"  *ngIf="products.length">
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th>Ảnh</th>
                        <th>Mã SP</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td> {{ item?.totalUnits }} {{rowIndex + 1}}</td>
                        <td>
                            <img src="{{item.images[0]}}" alt="no-image" width="100" height="70"
                                class="mt-0 mx-auto block shadow-2">
                        </td>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.categoryName}}</td>

                        <td>{{item.price|currency:'VND'}}</td>
                        <td>
                            <p-tag severity="{{item.status?'success':'danger'}}"
                                value="{{item.status?'Hoạt động':'Ẩn'}}" [rounded]="true" styleClass="pl-2 pr-2">
                            </p-tag>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-raised p-button-text p-button-rounded  p-button-info mr-2"
                                    (click)="detail(item)"></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-raised p-button-text p-button-rounded p-button-warning mr-2"
                                    (click)="showEdit(item)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-raised p-button-text p-button-rounded  p-button-danger"
                                    (click)="showDelete(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>



            </p-table>

            <p-toolbar styleClass="mb-4"  *ngIf="products.length">
                <ng-template pTemplate="left">
                    <button pButton pRipple type="button" icon="pi pi-chevron-left"
                    class="p-button-rounded p-button-text mr-2" (click)="previousPage()"></button>

                <button pButton pRipple type="button" icon="pi pi-chevron-right" class="p-button-rounded p-button-text"
                    (click)="nextPage()"></button>
                </ng-template>



                <ng-template pTemplate="right">
                    <button pButton pRipple type="button" label="Trang {{page+1}} / {{totalPages}}"
                    class="p-button-raised p-button-text p-button-rounded  p-button-primary"></button>
                </ng-template>

            </p-toolbar>
            <p *ngIf="!products.length">Không có bản ghi nào khớp với bộ lọc</p>

        </div>


        <p-dialog [(visible)]="productDialog" [style]="{width: '90%'}" header="Tạo mới" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Tên sản phẩm</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}" pTooltip="Tên sản phẩm"
                        tooltipPosition="top" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Yêu cầu không được để
                        trống.</small>
                </div>
                <div class="field">

                    <div class="grid p-fluid">
                        <div class="col-12 md:col-2">
                            <div class="p-inputgroup">
                                <label for="upload" id="lab">Tải ảnh lên</label>
                                <input type="file" accept="image/png, image/jpeg" multiple [hidden]="true"
                                    (change)="myUploader($event)" id="upload" pTooltip="Chọn ảnh sản phẩm"
                                    tooltipPosition="top">
                            </div>
                            <small class="ng-dirty ng-invalid" style="color: red;"
                                *ngIf="submitted && !images.length">*Yêu cầu tải lên ít nhất 1 ảnh.</small>
                        </div>

                        <div class="col-12 md:col-2">
                            <div class="p-inputgroup">
                                <button pButton pRipple type="button" label="Xóa tất cả" *ngIf="images.length"
                                    class="p-button-danger p-button-text" (click)="clearArr(true)"></button>
                            </div>
                        </div>
                    </div>

                    <ul *ngIf="images.length" class="images">
                        <li *ngFor="let file of images"><img src={{file}} width="150" height="100" alt="sss"
                                class="shadow-4"><i class="pi pi-times icon" style="font-size: 0.7rem"
                                (click)="removeImage(file,true)"></i></li>
                    </ul>
                </div>
                <div class="field">
                    <label for="status">Danh mục</label>
                    <p-dropdown id="status" [options]="categories" optionLabel="name" optionValue="id"
                        [(ngModel)]="product.categoryId" placeholder="Chọn danh mục" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.categoryId}">
                    </p-dropdown>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.categoryId">Yêu cầu không được để
                        trống.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Giá</label>
                        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="VND"
                            locale="en-US" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.price}" pTooltip="Giá"
                            tooltipPosition="top"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.price">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col">
                        <label for="price">Giá khuyến mãi</label>
                        <p-inputNumber id="price" [(ngModel)]="product.promotionPrice" mode="currency" currency="VND"
                            locale="en-US" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.promotionPrice}" pTooltip="Giá KM"
                            tooltipPosition="top"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.promotionPrice">Yêu cầu không
                            được để
                            trống.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted&&product.promotionPrice>=product.price">Giá
                            khuyến mãi không được lớn hơn giá gốc.</small>
                    </div>
                    <div class="field col">
                        <label for="quantity">Số lượng</label>
                        <p-inputNumber [min]="1" id="quantity" [(ngModel)]="product.quantity" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.quantity}" pTooltip="Số lượng"
                            tooltipPosition="top"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.quantity">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col">
                        <label for="quantity">Đơn vị</label>
                        <input type="text" pInputText id="unit" [(ngModel)]="product.unit" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.unit}" pTooltip="Đơn vị tính"
                            tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.unit">Yêu cầu không được để
                            trống.</small>
                    </div>
                </div>

                <div class="field">
                    <label for="shortDescription">Mô tả ngắn</label>
                    <textarea name="shortDescription" [(ngModel)]="product.shortDescription" [rows]="5" [cols]="30"
                        pInputTextarea autoResize="autoResize" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.shortDescription}"
                        pTooltip="Mô tả ngắn" tooltipPosition="top"></textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.shortDescription">Yêu cầu không được
                        để
                        trống.</small>
                </div>

                <div class="field">
                    <label for="description">Mô tả</label>
                    <ckeditor [editor]="Editor" [(ngModel)]="product.description" class="ck-editor"></ckeditor>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.description">Yêu cầu không được để
                        trống.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">

                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Xác nhận" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Bạn có muốn xóa <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Hủy"
                    (click)="hideDialog()"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Đồng ý"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogEdit" [style]="{width: '90%'}" header="Cập nhật" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Tên sản phẩm</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}" pTooltip="Tên sản phẩm"
                        tooltipPosition="top" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Yêu cầu không được để
                        trống.</small>
                </div>
                <div class="field">

                    <div class="grid p-fluid">
                        <div class="col-12 md:col-2">
                            <div class="p-inputgroup">
                                <label for="upload" id="lab">Tải ảnh lên</label>
                                <input type="file" accept="image/png, image/jpeg" multiple [hidden]="true"
                                    (change)="updateImage($event)" id="upload" pTooltip="Chọn ảnh sản phẩm"
                                    tooltipPosition="top">
                            </div>
                            <small class="ng-dirty ng-invalid" style="color: red;"
                                *ngIf="submitted && !product.images.length">*Yêu cầu tải lên ít nhất 1 ảnh.</small>
                        </div>

                        <div class="col-12 md:col-2">
                            <div class="p-inputgroup">
                                <button pButton pRipple type="button" label="Xóa tất cả" *ngIf="product.images.length"
                                    class="p-button-danger p-button-text" (click)="clearArr(false)"></button>
                            </div>
                        </div>
                    </div>

                    <ul *ngIf="product.images.length" class="images">
                        <li *ngFor="let file of product.images"><img src={{file}} width="150" height="100"
                                class="shadow-4"><i class="pi pi-times icon" style="font-size: 0.7rem"
                                (click)="removeImage(file,false)"></i></li>
                    </ul>
                </div>
                <div class="field">
                    <label for="status">Danh mục</label>
                    <p-dropdown id="status" [options]="categories" optionLabel="name" optionValue="id"
                        [(ngModel)]="product.categoryId" placeholder="Chọn danh mục" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.categoryId}">
                    </p-dropdown>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.categoryId">Yêu cầu không được để
                        trống.</small>
                </div>
                <div class="field">
                    <label for="">Trạng thái</label>
                    <p-selectButton [options]="statusList" [(ngModel)]="product.status" optionValue="value"
                        optionLabel="lable">
                    </p-selectButton>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Giá</label>
                        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="VND"
                            locale="en-US" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.price}" pTooltip="Giá"
                            tooltipPosition="top"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.price">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col">
                        <label for="price">Giá khuyến mãi</label>
                        <p-inputNumber id="price" [(ngModel)]="product.promotionPrice" mode="currency" currency="VND"
                            locale="en-US" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.promotionPrice}" pTooltip="Giá khuyến m"
                            tooltipPosition="top"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.promotionPrice">Yêu cầu không
                            được để
                            trống.</small>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && product.promotionPrice>=product.price">Giá
                            khuyến mãi không được lớn hơn giá gốc.</small>

                    </div>
                    <div class="field col">
                        <label for="quantity">Số lượng</label>
                        <p-inputNumber [min]="1" id="quantity" [(ngModel)]="product.quantity" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.quantity}" pTooltip="Số lượng"
                            tooltipPosition="top"></p-inputNumber>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.quantity">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col">
                        <label for="quantity">Đơn vị</label>
                        <input type="text" pInputText id="unit" [(ngModel)]="product.unit" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.unit}" pTooltip="Đơn vị tính"
                            tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.unit">Yêu cầu không được để
                            trống.</small>
                    </div>
                </div>

                <div class="field">
                    <label for="shortDescription">Mô tả ngắn</label>
                    <textarea [(ngModel)]="product.shortDescription" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
                        required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.shortDescription}"
                        pTooltip="Mô tả ngắn" tooltipPosition="top">{{product.shortDescription}}</textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.shortDescription">Yêu cầu không được
                        để
                        trống.</small>
                </div>

                <div class="field">
                    <label for="description">Mô tả</label>
                    <ckeditor [editor]="Editor" [(ngModel)]="product.description" class="ck-editor"></ckeditor>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.description">Yêu cầu không được để
                        trống.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">

                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
                    (click)="updateProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogDetail" [style]="{width: '90%'}" header="Chi tiết" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <small>Ảnh</small>
                    <ul *ngIf="product.images.length" class="images">
                        <li *ngFor="let file of product.images"><img src={{file}} width="150" height="100"
                                class="shadow-4"></li>
                    </ul>
                </div>

                <div class="field">
                    <small for="name">Tên sản phẩm</small>
                    <p>{{product.name}}</p>
                </div>

                <div class="field">
                    <small for="status">Danh mục</small>
                    <p>{{product.categoryName}}</p>
                </div>

                <div class="field">
                    <small for="status">Trạng thái</small>
                    <br>
                    <p-tag severity="{{product.status?'success':'danger'}}" value="{{product.status?'Hoạt động':'Ẩn'}}"
                        [rounded]="true" styleClass="pl-2 pr-2"></p-tag>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <small>Giá</small>
                        <p>{{product.price|currency:'VND'}}</p>
                    </div>
                    <div class="field col">
                        <small>Giá khuyến mãi</small>
                        <p>{{product.promotionPrice|currency:'VND'}}</p>
                    </div>
                    <div class="field col">
                        <small>Số lượng</small>
                        <p>{{product.quantity|number:'1.0'}}</p>
                    </div>
                    <div class="field col">
                        <small>Đơn vị</small>
                        <p>{{product.unit}}</p>
                    </div>
                </div>
                <div class="field">
                    <small>Mô tả ngắn</small>
                    <p>{{product.shortDescription}}</p>
                </div>
                <div class="field">
                    <small>Mô tả</small>
                    <div [innerHTML]="product.description"></div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">

                <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
