.images li{
    list-style: none;
    display: inline;
    padding: 5px;
}
.images{
    overflow-y: scroll;
}
.icon{
    margin-left: -15px;
    padding: 3px;
    color: white;
}
.icon:hover
{
    margin-left: -15px;
    padding: 3px;
    background-color: black;
    border-radius: 100px;
    color: white;
}
#lab{
    display: inline-block;
    background-color: rgb(0, 205, 236);
    color: white;
    padding: 0.7rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
table th
{
    width: 3rem;
}
table th td{
    width: 1rem;
}



