    <div class="grid" *ngIf="account.roleId===1">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Đơn hàng</span>
                        <div class="text-900 font-medium text-xl">{{over.countOrders}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-table text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{over.newOrders}} Đơn hàng mới </span>
                <br>
                <span class="text-500">Trong ngày hôm nay</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Sản phẩm</span>
                        <div class="text-900 font-medium text-xl">{{over.countProducts}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-box text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{over.newProducts}} Sản phẩm mới </span>
                <br>
                <span class="text-500">Trong ngày hôm nay</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Tài khoản</span>
                        <div class="text-900 font-medium text-xl">{{over.countAccounts}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-users text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{over.newAccounts}} Tài khoản mới </span>
                <br>
                <span class="text-500">Trong ngày hôm nay</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Bình luận</span>
                        <div class="text-900 font-medium text-xl">{{over.countComments}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comments text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{over.newComments}} Bình luận mới </span>
                <br>
                <span class="text-500">Trong ngày hôm nay</span>
            </div>
        </div>

        <div class="col-12 xl:col-12">
            <div class="card">
                <h5>Tổng quan</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>
        </div>

    </div>

    <div class="grid" *ngIf="account.roleId===2">

        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Đơn hàng</span>
                        <div class="text-900 font-medium text-xl">{{over.countOrders}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-table text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{over.newOrders}} Đơn hàng mới </span>
                <br>
                <span class="text-500">Trong ngày hôm nay</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Sản phẩm</span>
                        <div class="text-900 font-medium text-xl">{{over.countProducts}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-box text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{over.newProducts}} Sản phẩm mới </span>
                <br>
                <span class="text-500">Trong ngày hôm nay</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Đơn mua</span>
                        <div class="text-900 font-medium text-xl">{{over.sellerOrder?over.sellerOrder:0}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-bag text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{over.newSellerOrder?over.newSellerOrder:0}} Đơn mua mới </span>
                <br>
                <span class="text-500">Trong ngày hôm nay</span>
            </div>
        </div>

       <div class="col-12 lg:col-6 xl:col-4">
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Sản phẩm bán chạy</h5>

            </div>
            <ul class="list-none p-0 m-0">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4" *ngIf="tops.length">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{tops[0].name}}</span>
                        <div class="mt-1 text-600">{{tops[0].categoryName}}</div>
                    </div>
                    <div class="flex align-items-center">
                        <span>Doanh thu</span>
                        <span class="text-orange-500 ml-3 font-medium">{{tops[0].total|currency:'VND'}}</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4" *ngIf="tops.length>1">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{tops[1].name}}</span>
                        <div class="mt-1 text-600">{{tops[1].categoryName}}</div>
                    </div>
                    <div class="flex align-items-center">
                        <span>Doanh thu</span>
                        <span class="text-cyan-500 ml-3 font-medium">{{tops[1].total|currency:'VND'}}</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4" *ngIf="tops.length>2">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{tops[2].name}}</span>
                        <div class="mt-1 text-600">{{tops[2].categoryName}}</div>
                    </div>
                    <div class="flex align-items-center">
                        <span>Doanh thu</span>
                        <span class="text-pink-500 ml-3 font-medium">{{tops[2].total|currency:'VND'}}</span>
                    </div>
                </li>

            </ul>
        </div>
       </div>

       <div class="col-12 lg:col-6 xl:col-8">
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Doanh thu tháng</h5>

            </div>
            <ul class="list-none p-0 m-0">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <i class="pi pi-money-bill" style="font-size: 50px;color: rgb(26, 156, 0);"></i>

                    </div>
                    <div class="flex align-items-center">
                        <span class="text-orange-500 ml-3 font-medium" style="font-size: 40px;">{{total|currency:'VND'}}</span>
                    </div>
                </li>


            </ul>
        </div>
       </div>

        <div class="col-12 xl:col-12">
            <div class="card">
                <h5>Tổng quan</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>
        </div>



    </div>

