<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>

        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-dropdown class="mr-2" [options]="statusList" optionLabel="lable" optionValue="value"
                        [(ngModel)]="status" placeholder="Chọn trạng thái">
                    </p-dropdown>

                    <button pButton pRipple icon="pi pi-search" class="p-button-info mr-2" (click)="search()"></button>
                    <button pButton pRipple icon="pi pi-filter-slash" class="p-button-danger"
                        (click)="clearFilter()"></button>

                </ng-template>

            </p-toolbar>

            <p-table [value]="products" responsiveLayout="scroll" *ngIf="products.length">
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th>Mã bình luận</th>
                        <th>Ngày đăng</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td> {{ item?.totalUnits }} {{rowIndex + 1}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.postedDate|date:'dd/MM/yyyy'}}</td>
                        <td>
                            <p-tag severity="{{item.status?'success':'danger'}}" value="{{item.status?'Hiển thị':'Ẩn'}}"
                                [rounded]="true" styleClass="pl-2 pr-2">
                            </p-tag>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-raised p-button-text p-button-rounded  p-button-info mr-2"
                                    (click)="detail(item)"></button>

                                <button pButton pRipple icon="{{item.status?'pi pi-minus':'pi pi-plus'}}"
                                    class="{{item.status?'p-button-raised p-button-text p-button-rounded  p-button-danger':'p-button-raised p-button-text p-button-rounded  p-button-success'}}"
                                    (click)="showDelete(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>



            </p-table>

            <p-toolbar styleClass="mb-4" *ngIf="products.length">
                <ng-template pTemplate="left">
                    <button pButton pRipple type="button" icon="pi pi-chevron-left"
                        class="p-button-rounded p-button-text mr-2" (click)="previousPage()"></button>

                    <button pButton pRipple type="button" icon="pi pi-chevron-right"
                        class="p-button-rounded p-button-text" (click)="nextPage()"></button>
                </ng-template>



                <ng-template pTemplate="right">
                    <button pButton pRipple type="button" label="Trang {{page+1}} / {{totalPages}}"
                        class="p-button-raised p-button-text p-button-rounded  p-button-primary"></button>
                </ng-template>

            </p-toolbar>
            <p *ngIf="!products.length">Không có bản ghi nào khớp với bộ lọc</p>

        </div>

        <p-dialog [(visible)]="dialogEdit" [style]="{width: '90%'}" header="Cập nhật" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col">
                        <small>Mã bình luận</small>
                        <p>{{product.id}}</p>
                    </div>
                    <div class="field col">
                        <small>Ngày đăng</small>
                        <p>{{product.postedDate|date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="field col">
                        <small>Trạng thái</small>
                        <br>
                        <p-tag severity="{{product.status?'success':'danger'}}"
                            value="{{product.status?'Hiển thị':'Ẩn'}}" [rounded]="true" styleClass="pl-2 pr-2">
                        </p-tag>
                    </div>

                </div>
                <div class="field">
                    <div class="formgrid grid">
                        <div class="field col">
                            <small>Nội dung</small>
                            <p>{{product.content}}</p>
                        </div>
                    </div>
                </div>


                <div class="formgrid grid">
                    <div class="field col">
                        <small>Người đăng</small>
                        <p> {{product.account.userName}}</p>
                    </div>


                </div>

            </ng-template>

            <ng-template pTemplate="footer">

                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
                    (click)="changeStatus()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogDetail" [style]="{width: '90%'}" header="Chi tiết" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col">
                        <small>Mã bình luận</small>
                        <p>{{product.id}}</p>
                    </div>
                    <div class="field col">
                        <small>Ngày đăng</small>
                        <p>{{product.postedDate|date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="field col">
                        <small>Trạng thái</small>
                        <br>
                        <p-tag severity="{{product.status?'success':'danger'}}"
                            value="{{product.status?'Hiển thị':'Ẩn'}}" [rounded]="true" styleClass="pl-2 pr-2">
                        </p-tag>
                    </div>

                </div>
                <div class="field">
                    <div class="formgrid grid">
                        <div class="field col">
                            <small>Nội dung</small>
                            <p>{{product.content}}</p>
                        </div>
                    </div>
                </div>


                <div class="formgrid grid">
                    <div class="field col">
                        <small>Người đăng</small>
                        <p> {{product.account.userName}}</p>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <small>Mã sản phẩm</small>
                        <p> {{product.product.id}}</p>
                    </div>
                    <div class="field col">
                        <small>Tên sản phẩm</small>
                        <p> {{product.product.name}}</p>
                    </div>

                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Xác nhận" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>{{product.status?'Bạn có muốn ẩn bình luận này không ?':'Bạn có muốn hiển thị bình luận này không ?'}}</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Hủy"
                    (click)="hideDialog()"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Đồng ý"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
