<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>

        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">

                        <!-- <button pButton pRipple label="Xuất excel" icon="pi pi-file-excel" class="p-button-help"
                            (click)="exportExcel()" [disabled]="!products.length"></button> -->

                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-dropdown class="mr-2" [options]="statusDrop" optionLabel="name" optionValue="id"
                        [(ngModel)]="statusId" placeholder="Trạng thái">
                    </p-dropdown>


                    <input class="mr-2" type="text" pInputText placeholder="Tìm kiếm" [(ngModel)]="name"
                        (change)="search()" />

                    <button pButton pRipple icon="pi pi-search" class="p-button-info mr-2" (click)="search()"></button>
                    <button pButton pRipple icon="pi pi-filter-slash" class="p-button-danger"
                        (click)="clearFilter()"></button>

                </ng-template>

            </p-toolbar>

            <p-table [value]="products" responsiveLayout="scroll" *ngIf="products.length">
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Ngày đặt</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td> {{ item?.totalUnits }} {{rowIndex + 1}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.createdDate|date:'dd/MM/yyyy'}}</td>
                        <td>
                            <p-tag severity="warning" *ngIf="item.orderStatusId===1 || item.orderStatusId===2"
                                value="{{item.orderStatusName}}" [rounded]="true" styleClass="pl-2 pr-2">
                            </p-tag>

                            <p-tag severity="info" *ngIf="item.orderStatusId===3" value="{{item.orderStatusName}}"
                                [rounded]="true" styleClass="pl-2 pr-2">
                            </p-tag>

                            <p-tag severity="success" *ngIf="item.orderStatusId===4" value="{{item.orderStatusName}}"
                                [rounded]="true" styleClass="pl-2 pr-2">
                            </p-tag>

                            <p-tag severity="danger" *ngIf="item.orderStatusId===5" value="{{item.orderStatusName}}"
                                [rounded]="true" styleClass="pl-2 pr-2">
                            </p-tag>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-raised p-button-text p-button-rounded  p-button-info mr-2"
                                    (click)="detail(item)"></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-raised p-button-text p-button-rounded p-button-warning mr-2"
                                    (click)="showEdit(item)" *ngIf="account.roleId===2"></button>

                            </div>
                        </td>
                    </tr>
                </ng-template>



            </p-table>

            <p-toolbar styleClass="mb-4" *ngIf="products.length">
                <ng-template pTemplate="left">
                    <button pButton pRipple type="button" icon="pi pi-chevron-left"
                        class="p-button-rounded p-button-text mr-2" (click)="previousPage()"></button>

                    <button pButton pRipple type="button" icon="pi pi-chevron-right"
                        class="p-button-rounded p-button-text" (click)="nextPage()"></button>
                </ng-template>



                <ng-template pTemplate="right">
                    <button pButton pRipple type="button" label="Trang {{page+1}} / {{totalPages}}"
                        class="p-button-raised p-button-text p-button-rounded  p-button-primary"></button>
                </ng-template>

            </p-toolbar>
            <p *ngIf="!products.length">Không có bản ghi nào khớp với bộ lọc</p>

        </div>

        <p-dialog [(visible)]="dialogEdit" [style]="{width: '90%'}" header="Cập nhật" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col">
                        <small>Mã đơn hàng</small>
                        <p>{{product.id}}</p>
                    </div>
                    <div class="field col">
                        <small>Ngày đặt</small>
                        <p>{{product.createdDate|date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="field col">
                        <small>Phương thức thanh toán</small>
                        <p>{{product.paymentName}}</p>
                    </div>
                    <div class="field col">
                        <label for="status">Tình trạng</label>
                        <p-dropdown id="status" [options]="statusDrop" optionLabel="name" optionValue="id"
                            [(ngModel)]="product.orderStatusId" required autofocus>
                        </p-dropdown>
                    </div>


                </div>

                <div class="field">
                    <h5>Sản phẩm</h5>
                    <p-table [value]="product.products" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>STT</th>
                                <th>Ảnh</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td> {{ item?.totalUnits }} {{rowIndex + 1}}</td>
                                <td><img src={{item.image}} width="60" height="50" class="shadow-4"></td>
                                <td>{{item.id}}</td>
                                <td>{{item.productName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.currentPrice}}</td>
                                <td>{{item.currentPrice * item.quantity}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="field">
                    <div class="formgrid grid">
                        <div class="field col">

                        </div>
                        <div class="field col">

                        </div>
                        <div class="field col">

                        </div>
                        <div class="field col">

                            <p>Tổng tiền hàng: <b>{{getTotal(product.products)|currency:'VND'}}</b></p>
                            <p>Phí vận chuyển: <b>{{15000|currency:'VND'}}</b></p>
                            <p>Tổng tiền khách phải thanh toán:
                                <b>{{getTotal(product.products)+15000|currency:'VND'}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <h5>Thông tin người nhận</h5>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <small>Họ tên:</small>
                        <p> {{product.fullName}}</p>
                    </div>
                    <div class="field col">
                        <small>Số điện thoại</small>
                        <p>{{product.phone}}</p>
                    </div>
                    <div class="field col">
                        <small>Địa chỉ</small>
                        <p>{{product.address}}</p>
                    </div>

                </div>
                <div class="field" *ngIf="account.roleId===1">
                    <h5>Thông tin người bán</h5>
                </div>

                <div class="formgrid grid" *ngIf="account.roleId===1">
                    <div class="field col">
                        <small>Họ tên:</small>
                        <p> {{product.sellerDTO.fullName}}</p>
                    </div>
                    <div class="field col">
                        <small>Số điện thoại</small>
                        <p>{{product.sellerDTO.phoneNumber}}</p>
                    </div>
                    <div class="field col">
                        <small>Địa chỉ</small>
                        <p>{{product.sellerDTO.address}}</p>
                    </div>

                </div>
            </ng-template>

            <ng-template pTemplate="footer">

                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
                    (click)="changeStatus()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogDetail" [style]="{width: '90%'}" header="Chi tiết đơn hàng" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col">
                        <small>Mã đơn hàng</small>
                        <p>{{product.id}}</p>
                    </div>
                    <div class="field col">
                        <small>Ngày đặt</small>
                        <p>{{product.createdDate|date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="field col">
                        <small>Tình trạng</small>
                        <p>{{product.orderStatusName}}</p>
                    </div>
                    <div class="field col">
                        <small>Phương thức thanh toán</small>
                        <p>{{product.paymentName}}</p>
                    </div>

                </div>

                <div class="field">
                    <h5>Sản phẩm</h5>
                    <p-table [value]="product.products" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>STT</th>
                                <th>Ảnh</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td> {{ item?.totalUnits }} {{rowIndex + 1}}</td>
                                <td><img src={{item.image}} width="60" height="50" class="shadow-4"></td>
                                <td>{{item.id}}</td>
                                <td>{{item.productName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.currentPrice}}</td>
                                <td>{{item.currentPrice * item.quantity}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="field">
                    <div class="formgrid grid">
                        <div class="field col">

                        </div>
                        <div class="field col">

                        </div>
                        <div class="field col">

                        </div>
                        <div class="field col">

                            <p>Tổng tiền hàng: <b>{{getTotal(product.products)|currency:'VND'}}</b></p>
                            <p>Phí vận chuyển: <b>{{15000|currency:'VND'}}</b></p>
                            <p>Tổng tiền khách phải thanh toán:
                                <b>{{getTotal(product.products)+15000|currency:'VND'}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <h5>Thông tin người nhận</h5>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <small>Họ tên:</small>
                        <p> {{product.fullName}}</p>
                    </div>
                    <div class="field col">
                        <small>Số điện thoại</small>
                        <p>{{product.phone}}</p>
                    </div>
                    <div class="field col">
                        <small>Địa chỉ</small>
                        <p>{{product.address}}</p>
                    </div>

                </div>
                <div class="field" *ngIf="account.roleId===1">
                    <h5>Thông tin người bán</h5>
                </div>

                <div class="formgrid grid" *ngIf="account.roleId===1">
                    <div class="field col">
                        <small>Họ tên:</small>
                        <p> {{product.sellerDTO.fullName}}</p>
                    </div>
                    <div class="field col">
                        <small>Số điện thoại</small>
                        <p>{{product.sellerDTO.phoneNumber}}</p>
                    </div>
                    <div class="field col">
                        <small>Địa chỉ</small>
                        <p>{{product.sellerDTO.address}}</p>
                    </div>

                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
