<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/icon.png" alt="logo">
        <span></span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">

        <a class="p-link layout-topbar-button">
            <p><b>{{account.userName}}</b></p>
        </a>
        <a class="p-link layout-topbar-button">
            <img src="{{account.avatar}}" style="border-radius:1000px ;" width="40" height="40" alt="" (click)="open()">
        </a>

    </div>

</div>
<p-dialog [(visible)]="dialog" [style]="{width: '40%'}" header="Thông tin tài khoản" [modal]="true" class="p-fluid">

    <ng-template pTemplate="content">

        <p-divider align="center" type="dashed">
            <b>Tài khoản</b>
        </p-divider>
        <div class="field flex justify-content-center">
            <img src="{{account.avatar?account.avatar:'assets/layout/images/profile.png'}}" width="110" height="110"
                style="border-radius: 1000px;" alt="">
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <small>Tên đăng nhập</small>
                <p>{{account.userName}}</p>
            </div>
            <div class="field col">
                <small>Mật khẩu</small>
                <p>{{account.password}}</p>
            </div>
            <div class="field col">
                <small>Nhóm quyền</small>
                <p>{{account.roleId===1?'Admin':'Người bán'}}</p>
            </div>
            <div class="field col">
                <small>Trạng thái</small>
                <br>
                <p-tag severity="{{account.status?'success':'danger'}}" value="{{account.status?'Hoạt động':'Khóa'}}"
                    [rounded]="true" styleClass="pl-2 pr-2"></p-tag>
            </div>
        </div>

        <p-divider align="center" type="dashed">
            <b>Thông tin</b>
        </p-divider>

        <div class="formgrid grid">
            <div class="field col">
                <small for="status">Họ tên</small>
                <p>{{account.userDTO.fullName}}</p>

            </div>
            <div class="field col">
                <small for="status">Giới tính</small>
                <p>{{account.userDTO.gender?'Nam':'Nữ'}}</p>
            </div>

            <div class="field col"></div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <small for="status">Số điện thoại</small>
                <p>{{account.userDTO.phoneNumber}}</p>
            </div>
            <div class="field col">
                <small for="status">Email</small>
                <p>{{account.userDTO.email}}</p>
            </div>
            <div class="field col">
                <small for="status">Ngày sinh</small>
                <p>{{account.userDTO.dateOfBirth | date:'dd - MM - yyyy'}}</p>
            </div>
        </div>

        <div class="field">
            <small for="status">Địa chỉ</small>
            <p>{{account.userDTO.address}}</p>
        </div>


    </ng-template>


    <ng-template pTemplate="footer">

       <div class="flex justify-content-center">
        <button pButton pRipple label="Đăng xuất" icon="pi pi-sign-out" class="p-button-danger"
        (click)="logout()"></button>
       </div>

    </ng-template>
</p-dialog>
