<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Tạo mới" icon="pi pi-plus" class="p-button-success"
                            (click)="openNew()"></button>

                    </div>
                </ng-template>

                <ng-template pTemplate="right">

                    <span class="p-input-icon-left mr-2">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText [(ngModel)]="name" (change)="search()" placeholder="Tìm kiếm">
                    </span>

                    <button pButton pRipple icon="pi pi-search" class="p-button-info mr-2" (click)="search()"></button>
                    <button pButton pRipple icon="pi pi-filter-slash" class="p-button-danger"
                        (click)="clearFilter()"></button>
                </ng-template>
            </p-toolbar>

            <p-table [value]="categories" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th>Mã danh mục</th>
                        <th>Tên danh mục</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td> {{ item?.totalUnits }} {{rowIndex + 1}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            <p-tag severity="{{item.status?'success':'danger'}}"
                                value="{{item.status?'Hoạt động':'Không hoạt động'}}" [rounded]="true"
                                styleClass="pl-2 pr-2"></p-tag>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-raised p-button-text p-button-rounded  p-button-info mr-2"
                                    (click)="detail(item)"></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-raised p-button-text p-button-rounded p-button-warning mr-2"
                                    (click)="showEdit(item)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-raised p-button-text p-button-rounded  p-button-danger"
                                    (click)="showDelete(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>



            </p-table>

            <p-toolbar styleClass="mb-4" *ngIf="categories.length">
                <ng-template pTemplate="left">
                    <button pButton pRipple type="button" icon="pi pi-chevron-left"
                        class="p-button-rounded p-button-text mr-2" (click)="previousPage()"></button>

                    <button pButton pRipple type="button" icon="pi pi-chevron-right"
                        class="p-button-rounded p-button-text" (click)="nextPage()"></button>
                </ng-template>



                <ng-template pTemplate="right">
                    <button pButton pRipple type="button" label="Trang {{page+1}} / {{totalPages}}"
                        class="p-button-raised p-button-text p-button-rounded  p-button-primary"></button>
                </ng-template>

            </p-toolbar>
            <p *ngIf="!categories.length">Không có bản ghi nào khớp với bộ lọc</p>



        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '90%'}" header="Tạo mới" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Tên danh mục</label>
                    <input type="text" pInputText id="name" [(ngModel)]="category.name" required autofocus maxlength="225"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !category.name}" pTooltip="Tên danh mục"
                        tooltipPosition="top" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !category.name">Yêu cầu không được để
                        trống.</small>
                </div>
                <div class="field">
                    <label for="">Mô tả</label>
                    <textarea [rows]="5" [cols]="30" [(ngModel)]="category.description" pInputTextarea maxlength="500"
                        autoResize="autoResize"  pTooltip="Mô tả"
                        tooltipPosition="top"></textarea>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Xác nhận" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="category">Bạn có muốn xóa danh mục <b>{{category.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Xác nhận" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Bạn có muốn xóa các sản phẩm vừa chọn?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogEdit" [style]="{width: '90%'}" header="Cập nhật" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <input type="text" pInputText id="name" [(ngModel)]="category.id" hidden>
                </div>

                <div class="field">
                    <label for="name">Tên danh mục</label>
                    <input type="text" pInputText id="name" [(ngModel)]="category.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !category.name}" maxlength="225" pTooltip="Tên danh mục"
                        tooltipPosition="top" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !category.name">Yêu cầu không được để
                        trống.</small>
                </div>


                <div class="field">
                    <label for="">Trạng thái</label>
                    <p-selectButton [options]="statusList" [(ngModel)]="category.status" optionValue="value"
                        optionLabel="lable">
                    </p-selectButton>
                </div>
                <div class="field">
                    <label for="">Mô tả</label>
                    <textarea [rows]="5" [cols]="30" [(ngModel)]="category.description" pInputTextarea maxlength="500"
                        autoResize="autoResize"  pTooltip="Mô tả"
                        tooltipPosition="top"></textarea>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">

                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="edit(category)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogDetail" [style]="{width: '90%'}" header="Chi tiết" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <small for="name">Mã danh mục</small>
                    <p>{{category.id}}</p>
                </div>
                <div class="field">
                    <small for="name">Tên danh mục</small>
                    <p>{{category.name}}</p>
                </div>

                <div class="field">
                    <small for="status">Trạng thái</small>
                    <p>{{category.status?'Hoạt động':'Nháp'}}</p>
                </div>

                <div class="field">
                    <small for="status">Mô tả</small>
                    <p>{{category.description}}</p>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">

                <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>
    </div>
