<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple  label="Tạo mới" icon="pi pi-plus" class="p-button-success mr-2 purple"
                            (click)="openNew()"></button>

                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-dropdown class="mr-2" [options]="roles" optionLabel="name" optionValue="id"
                        [(ngModel)]="categoryId" placeholder="Chọn nhóm quyền">
                    </p-dropdown>


                    <input class="mr-2" type="text" pInputText placeholder="Tìm kiếm" [(ngModel)]="name"
                        (change)="search()" />

                    <button pButton pRipple icon="pi pi-search" class="p-button-info mr-2" (click)="search()"></button>
                    <button pButton pRipple icon="pi pi-filter-slash" class="p-button-danger"
                        (click)="clearFilter()"></button>

                </ng-template>

            </p-toolbar>

            <p-table [value]="products" responsiveLayout="scroll" *ngIf="products.length">
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th>Ảnh</th>
                        <th>Mã tài khoản</th>
                        <th>Tên đăng nhập</th>
                        <th>Loại tài khoản</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td> {{ item?.totalUnits }} {{rowIndex + 1}}</td>
                        <td>
                            <img src="{{item.avatar?item.avatar:'assets/layout/images/profile.png'}}" alt="" width="50"
                                height="50" style="border-radius: 1000px;" class="mt-0 mx-auto block shadow-2">
                        </td>
                        <td>{{item.id}}</td>

                        <td>{{item.userName}}</td>

                        <td>
                            <p-tag severity="{{item.roleId===1?'info':'warning'}}"
                                value="{{item.roleId===1?'Admin':'Khách hàng'}}" [rounded]="true"
                                styleClass="pl-2 pr-2">
                            </p-tag>
                        </td>
                        <td>
                            <p-tag severity="{{item.status?'success':'danger'}}"
                                value="{{item.status?'Hoạt động':'Khóa'}}" [rounded]="true" styleClass="pl-2 pr-2">
                            </p-tag>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-raised p-button-text p-button-rounded  p-button-info mr-2"
                                    (click)="detail(item)"></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-raised p-button-text p-button-rounded p-button-warning mr-2"
                                    (click)="showEdit(item)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-raised p-button-text p-button-rounded  p-button-danger"
                                    (click)="showDelete(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>



            </p-table>

            <p-toolbar styleClass="mb-4" *ngIf="products.length">
                <ng-template pTemplate="left">
                    <button pButton pRipple type="button" icon="pi pi-chevron-left"
                        class="p-button-rounded p-button-text mr-2" (click)="previousPage()"></button>

                    <button pButton pRipple type="button" icon="pi pi-chevron-right"
                        class="p-button-rounded p-button-text" (click)="nextPage()"></button>
                </ng-template>



                <ng-template pTemplate="right">
                    <button pButton pRipple type="button" label="Trang {{page+1}} / {{totalPages}}"
                        class="p-button-raised p-button-text p-button-rounded  p-button-primary"></button>
                </ng-template>

            </p-toolbar>
            <p *ngIf="!products.length">Không có bản ghi nào khớp với bộ lọc</p>

        </div>


        <p-dialog [(visible)]="productDialog" [style]="{width: '90%'}" header="Tạo mới" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <p-divider align="left" type="dashed">
                    <b>Tài khoản</b>
                </p-divider>

                <div class="field">

                    <div class="grid p-fluid">
                        <div class="col-12 md:col-2">
                            <div class="p-inputgroup">
                                <label for="upload" id="lab">{{!product.avatar?'Tải ảnh lên':'Chọn ảnh khác'}}</label>
                                <input type="file" accept="image/png, image/jpeg" [hidden]="true"
                                    (change)="myUploader($event)" id="upload">
                            </div>

                        </div>

                        <div class="col-12 md:col-2">
                            <div class="p-inputgroup">
                                <button pButton pRipple type="button" label="Hủy" *ngIf="product.avatar"
                                    class="p-button-danger p-button-text" (click)="clearArr(true)"></button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="product.avatar" class="flex justify-content-center">
                        <img src="{{product.avatar}}" alt="" style="border-radius: 1000px;" width="200" height="200">
                    </div>

                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Tên đăng nhập</label>
                        <input type="text" pInputText id="name" [(ngModel)]="product.userName" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.userName}"
                            pTooltip="Tên đăng nhập" tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.userName">Yêu cầu không được để
                            trống.</small>
                    </div>

                    <div class="field col">
                        <label for="name">Mật khẩu</label>
                        <p-password [(ngModel)]="product.password" [toggleMask]="true" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.password}" pTooltip="Mật khẩu"
                            tooltipPosition="top"></p-password>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.password">Yêu cầu không được để
                            trống.</small>
                    </div>

                    <div class="field col">
                        <label for="status">Nhóm quyền</label>
                        <p-dropdown id="status" [options]="roles" optionLabel="name" optionValue="id"
                            [(ngModel)]="product.roleId" placeholder="Chọn nhóm quyền" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.roleId}">
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.roleId">Yêu cầu không được
                            để
                            trống.</small>
                    </div>

                </div>

                <div class="field">
                    <label for="">Trạng thái</label>
                    <p-selectButton [options]="statusList" [(ngModel)]="product.status" optionValue="value"
                        optionLabel="lable">
                    </p-selectButton>
                </div>

                <p-divider align="left" type="dashed">
                    <b>Thông tin</b>
                </p-divider>
                <div class="p-fluid grid formgrid">
                    <div class="field col-12 md:col-8">
                        <label for="fullname">Họ tên</label>
                        <input type="text" pInputText id="fullname" [(ngModel)]="user.fullName" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.fullName}" pTooltip="Họ tên"
                            tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.fullName">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="gender">Giới tính</label>
                        <p-dropdown id="gender" [options]="genders" optionLabel="lable" optionValue="value"
                            [(ngModel)]="user.gender" placeholder="Chọn giới tính" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && user.gender===null}">
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.gender===null">Yêu cầu không được để
                            trống.</small>
                    </div>
                </div>

                <div class="p-fluid grid formgrid">
                    <div class="field col-12 md:col-4">
                        <label>Số điện thoại</label>
                        <input type="text" pInputText [(ngModel)]="user.phoneNumber" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.phoneNumber}" pTooltip="Họ tên"
                            tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.phoneNumber">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label>Email</label>
                        <input type="text" pInputText [(ngModel)]="user.email" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.email}" [type]="email"
                            pTooltip="Họ tên" tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.email">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label>Ngày sinh</label>
                        <p-calendar [(ngModel)]="user.dateOfBirth" [showIcon]="true"></p-calendar>
                    </div>

                </div>

                <div class="p-fluid grid formgrid">
                    <div class="field col-12 md:col-12">
                        <label>Địa chỉ</label>
                        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.address}" pTooltip="Địa chỉ"
                            tooltipPosition="top" [(ngModel)]="user.address"></textarea>

                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.address">Yêu cầu không được để
                            trống.</small>
                    </div>
                </div>


            </ng-template>

            <ng-template pTemplate="footer">

                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Xác nhận" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Bạn có muốn xóa tài khoản <b>{{product.userName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Hủy"
                    (click)="hideDialog()"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Đồng ý"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogEdit" [style]="{width: '90%'}" header="Cập nhật" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <p-divider align="left" type="dashed">
                    <b>Tài khoản</b>
                </p-divider>

                <div class="field">

                    <div class="grid p-fluid">
                        <div class="col-12 md:col-2">
                            <div class="p-inputgroup">
                                <label for="upload" id="lab">{{!product.avatar?'Tải ảnh lên':'Chọn ảnh khác'}}</label>
                                <input type="file" accept="image/png, image/jpeg" [hidden]="true"
                                    (change)="myUploader($event)" id="upload">
                            </div>

                        </div>

                        <div class="col-12 md:col-2">
                            <div class="p-inputgroup">
                                <button pButton pRipple type="button" label="Hủy" *ngIf="product.avatar"
                                    class="p-button-danger p-button-text" (click)="clearArr(true)"></button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="product.avatar" class="flex justify-content-center">
                        <img src="{{product.avatar}}" alt="" style="border-radius: 1000px;" width="200" height="200">
                    </div>

                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Tên đăng nhập</label>
                        <input type="text" pInputText id="name" [(ngModel)]="product.userName" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.userName}"
                            pTooltip="Tên đăng nhập" tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.userName">Yêu cầu không được để
                            trống.</small>
                    </div>

                    <div class="field col">
                        <label for="name">Mật khẩu</label>
                        <p-password [(ngModel)]="product.password" [toggleMask]="true" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.password}" pTooltip="Mật khẩu"
                            tooltipPosition="top"></p-password>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.password">Yêu cầu không được để
                            trống.</small>
                    </div>

                    <div class="field col">
                        <label for="status">Nhóm quyền</label>
                        <p-dropdown id="status" [options]="roles" optionLabel="name" optionValue="id"
                            [(ngModel)]="product.roleId" placeholder="Chọn nhóm quyền" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.roleId}">
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.roleId">Yêu cầu không được
                            để
                            trống.</small>
                    </div>

                </div>

                <div class="field">
                    <label for="">Trạng thái</label>
                    <p-selectButton [options]="statusList" [(ngModel)]="product.status" optionValue="value"
                        optionLabel="lable">
                    </p-selectButton>
                </div>

                <p-divider align="left" type="dashed">
                    <b>Thông tin</b>
                </p-divider>
                <div class="p-fluid grid formgrid">
                    <div class="field col-12 md:col-8">
                        <label for="fullname">Họ tên</label>
                        <input type="text" pInputText id="fullname" [(ngModel)]="product.userDTO.fullName" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.userDTO.fullName}" pTooltip="Họ tên"
                            tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.userDTO.fullName">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="gender">Giới tính</label>
                        <p-dropdown id="gender" [options]="genders" optionLabel="lable" optionValue="value"
                            [(ngModel)]="product.userDTO.gender" placeholder="Chọn giới tính" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && product.userDTO.gender===null}">
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && product.userDTO.gender===null">Yêu cầu không được để
                            trống.</small>
                    </div>
                </div>

                <div class="p-fluid grid formgrid">
                    <div class="field col-12 md:col-4">
                        <label>Số điện thoại</label>
                        <input type="text" pInputText [(ngModel)]="product.userDTO.phoneNumber" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.userDTO.phoneNumber}" pTooltip="Họ tên"
                            tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.userDTO.phoneNumber">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label>Email</label>
                        <input type="text" pInputText [(ngModel)]="product.userDTO.email" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.userDTO.email}" [type]="email"
                            pTooltip="Họ tên" tooltipPosition="top" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.userDTO.email">Yêu cầu không được để
                            trống.</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label>Ngày sinh</label>
                        <p-calendar [(ngModel)]="product.userDTO.dateOfBirth" [showIcon]="true" dateFormat="dd - mm - yy"></p-calendar>
                    </div>

                </div>

                <div class="p-fluid grid formgrid">
                    <div class="field col-12 md:col-12">
                        <label>Địa chỉ</label>
                        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.userDTO.address}" pTooltip="Địa chỉ"
                            tooltipPosition="top" [(ngModel)]="product.userDTO.address"></textarea>

                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.userDTO.address">Yêu cầu không được để
                            trống.</small>
                    </div>
                </div>


            </ng-template>


            <ng-template pTemplate="footer">

                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
                    (click)="updateProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogDetail" [style]="{width: '90%'}" header="Chi tiết" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <p-divider align="left" type="dashed">
                    <b>Tài khoản</b>
                </p-divider>
                <div class="field flex justify-content-center">
                    <img src="{{product.avatar?product.avatar:'assets/layout/images/profile.png'}}" width="200" height="200" alt="">
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <small >Tên đăng nhập</small>
                        <p>{{product.userName}}</p>
                    </div>
                    <div class="field col">
                        <small >Mật khẩu</small>
                        <p>{{product.password}}</p>
                    </div>
                    <div class="field col">
                        <small >Nhóm quyền</small>
                        <p>{{product.roleName}}</p>
                    </div>
                    <div class="field col">
                        <small >Trạng thái</small>
                        <br>
                        <p-tag severity="{{product.status?'success':'danger'}}"
                            value="{{product.status?'Hoạt động':'Khóa'}}" [rounded]="true" styleClass="pl-2 pr-2"></p-tag>
                    </div>
                </div>

                <p-divider align="left" type="dashed">
                    <b>Thông tin</b>
                </p-divider>

                <div class="formgrid grid">
                    <div class="field col">
                        <small for="status">Họ tên</small>
                        <p>{{product.userDTO.fullName}}</p>

                    </div>
                    <div class="field col">
                        <small for="status">Giới tính</small>
                        <p>{{product.userDTO.gender?'Nam':'Nữ'}}</p>
                    </div>

                    <div class="field col"></div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <small for="status">Số điện thoại</small>
                        <p>{{product.userDTO.phoneNumber}}</p>
                    </div>
                    <div class="field col">
                        <small for="status">Email</small>
                        <p>{{product.userDTO.email}}</p>
                    </div>
                    <div class="field col">
                        <small for="status">Ngày sinh</small>
                        <p>{{product.userDTO.dateOfBirth | date:'dd - MM - yyyy'}}</p>
                    </div>
                </div>

                <div class="field">
                    <small for="status">Địa chỉ</small>
                        <p>{{product.userDTO.address}}</p>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">

                <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
