

.icon{
    margin-left: -15px;
    padding: 3px;
    color: white;
}
.icon:hover
{
    margin-left: -15px;
    padding: 3px;
    background-color: black;
    border-radius: 100px;
    color: white;
}
#lab{
    display: inline-block;
    background-color: rgb(0, 205, 236);
    color: white;
    padding: 0.7rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
tr td{
    text-align: center;
}
tr th{
    text-align: center;
}





